@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
/*So that all the pages start with the same general layout*/
body {
  margin: 0;
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: lightblue;
  font-family: 'Montserrat', sans-serif;
}
/*Instructions on where w3-top is for the navbar*/
.w3-top {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
/*Grid design adapted from W3Schools Start Page CSS Template and Gride Layout example*/
/* layout for container to act as a grid*/
.container {
  display: grid;
  grid-template-areas:
    "image content"
    "footer footer";
  grid-template-columns: 1fr 2fr;
  gap: 3px;
  background-color: transparent;
  padding: 5px;
  padding-top: 60px;
}
 /*For the links*/
a {
  color: #27ae60;
  text-decoration: none;
  transition: color 0.3s ease;
}
/*to make link underlined and change color.*/
a:hover, a:focus {
  color: #1e8449;
  text-decoration: underline;
}
/*To style all h1 headings */
h1 {
  text-align: center;
  background-color: #fff59d;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
}
/*for spacing heading above table*/
h1.heading {
  padding-bottom: 20px;
}
/* to link areas*/
.image {
  grid-area: image;
}
.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
  text-align: center;
}
/*To make sure pictures display correctly*/
.image img,
.w3-third img {
  width: 100%;
  height: auto;
  display: block;
}
/*for table container so table fits*/
.table-container {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  margin: 0 auto;
}
/*For mobile switches from being split up to being all vertical*/
@media (max-width: 768px) {
  /*make padding smaller for small screens*/
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /*change container to vertical layout for mobile*/
  .container {
    grid-template-areas:
      "image"
      "content"
      "footer";
    grid-template-columns: 1fr;
  }
  
  /*auto size image*/
  .image img {
  height: auto;
  }
}

